.container {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 1px 8px gray;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  transform: translateX(50%);
  padding: 15px;
  text-align: center;
}

.container button {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgb(25, 100, 176);
  border-radius: 4px;
  color: white;
  padding: 20px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.container button:hover {
  cursor: pointer;
}
.container h2 {
  color: blueviolet;
}
.textfield {
  width: 80%;
}
.textfield input {
}
