.container {
  background-color: rgb(6, 119, 218);
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 10px black;
}
.container h2 {
  vertical-align: middle;
  margin-left: 10px;
}
.container button {
  color: white;
  border: none;
  background-color: rgb(6, 119, 218);
  cursor: pointer;
  padding: 25px;
  font-size: 18px;
  transition: 250ms;
}
.container button:hover {
  background-color: rgb(6, 110, 214);
}
.link {
  color: white;
  text-decoration: none;
}
.sideBar {
  width: 200px;
  height: 500px;
  background-color: #919191;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
@media (max-width: 730px) {
  .sideBar {
    display: inline;
  }
  .container {
    display: none;
  }
}
